#root {
   --primary-color: #6A858A;
   --secondary-color: #7F00FF;
   --accent-color: #00ff00;
   --font-family: 'Arial', sans-serif;
   --text-color: #333333;
   --white: #FFFFFF;

   --black: #000000;
   background-color: #D6E6F2;
   
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   /*box-shadow: inset -10px 0 35px rgb(33, 167, 15);*/
   
}

