.footer {

  padding:50px 0px;
  color: rgb(240, 245, 255);
 background-color: #7A4A27;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr auto;
  padding : 0 70px;
}
.footer-btns{
  margin-right: -8rem;
}

.footer-btns button,
.footer-btns a {
  margin-right: 1rem;
}
.marginright{
  margin-left: -8rem;
}